


.Auth {
padding: 5vw;
min-width: 86vh;
}



.Auth h1 {
    color: var(--primary);
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
   padding: 15px 0;
}


.Auth form {
    width: 100%;
    max-width: 650px;
    margin: 10px auto;
    padding: 30px 5.5vw;
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.65);
    text-align: right;
}

.label {
    color: white;
    text-align: left;
    font-weight: 700;
}

.Auth input, .Auth select {
    width: 100%;
    padding: 11px;
    margin: 15px auto;
    background: white;
    border-radius: 4px;
    font-weight: 700;
    color: var(--primary);
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Nunito', sans-serif;
}

.Auth input::placeholder{
    font-weight: 700;
    color: rgb(74, 4, 4, 0.35);;
}


.Auth form button {
    padding: 8px 12px;
    margin: 10px 0;
    font-family: 'Righteous', cursive;
    background-color: white;
    color: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.Auth form button:hover {
 transform: scale(1.1);
 background-color: var(--primary);
 color: white;
}

.Auth p {
    text-align: center;
    font-weight: 700;
    color: var(--primary);
}