
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Nunito:wght@300;500;600;700;800&family=Poppins:wght@300;500;600;700;800&family=Prosto+One&family=Righteous&family=Roboto:wght@500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Yeon+Sung&display=swap');


:root {
  /* --primary: #f86a03; */
  --primary: #4A0404;
  --secondary: #2960ec;
  /* --our-font: 'Inter', sans-serif; */
  --bg-color: #cfdae3;
    --my-black: #1b1c1e;
    --button-font: 'Righteous', cursive;
     


  --h1-font: clamp(28px, 3.5vw, 40px);
  --h1-line: clamp(32px, 3.8vw, 42px);

  --h2-font: clamp(24px, 3vw, 40px);
  --h2-line: clamp(28px, 3.8vw, 42px);
  
  --h3-font: clamp(16px, 2.3vw, 26px);
  --h3-line: clamp(24px, 3.4vw, 35px);
  
  --h4-font: ;
  --h4-line: ;
  
  --p-font: clamp(14px,2vw,28px);
  --p-line: clamp(20px,3vw,36px);
  
  --card-h-font: clamp(16px,2vw,24px);
  --card-h-line: clamp(22px,2.5vw,30px);

  --card-p-font: clamp(14px,1.2vw,20px);
  --card-p-line: clamp(26px,2.5vw,26px);
  
  --button-font: ;
}

.App {
  font-family: 'Nunito', sans-serif;

  background: url(./components/Home/assets/giphy.gif), var(--bg-color);
  /* padding-top: 20px; */
}


