.Reader {
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 4vw;
}

.Reader h1 {
    color: var(--primary);
    font-family: 'Ubuntu', sans-serif;
   
    font-size: var(--h1-font);
    font-weight: 700;
}

.main-post {
    margin: 40px 0;
    background: rgb(255,255,255);
    font-size: clamp(15px, 1.8vw, 18px);
    padding: 10px 8px;
    border-radius: 4px;
    line-height: clamp(20px, 3vw, 26px);
    display: flex;
    white-space: pre-line;
    flex-direction: column;
    align-items: center;
}

.main-post img {
    width: 100%;
    max-width: 400px;
    height: fit-content;
}

.Reader hr {
    border: 1px solid grey;
}

.Reader input {
    padding: 18px 8px;
    width: 100%;
    max-width: 480px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary);
}

.Reader .reply-form button {
    padding: 16px 15px;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
    background-color: var(--primary);
}

.Reader h3 {
    color: var(--primary);
   font-family: 'Ubuntu', sans-serif;
   font-size: var(--h3-font);
    font-weight: 700;
}

.replies {
    /* background-color: rgb(0,0,0,0.1); */
}

.reply {
    max-width: 480px;
    /* margin: 0 auto; */
        background-color: rgb(0,0,0,0.05);
    padding: 3px 7px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: smaller;
    box-shadow: 2px 2px 7px 1px grey;
}

.the-reply {
    background-color: white;
    /* border-radius: 5px; */
    padding: 5px;
    width: 100%;
}

.reply hr {
    width: 100%;
}

.reply .post-details {
    flex-direction: column;
    align-items: flex-start;
}

.reply .author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
}

.reply .author div {
    display: flex;
    align-items: flex-end;
}

.reply .author img {
   height: 25px;
   width: 25px;
   background-color: white;
   border-radius: 50%;
   margin-right: 10px;
   padding: 2px;
   object-fit: cover;
}

.report-modal {
    background-color: white;
    text-align: center;
    max-width: 520px;
    border-radius: 4px;
    box-shadow: 2px 4px 10px 3px rgb(0,0,0,0.3);
    padding: 15px 0;
    width: 95%;

    position: fixed;
    top: 15%;
    left: 50%;
    transform: scale(0) translateX(-50%);
}

.report-modal input,
.report-modal select,
.report-modal textarea {
    /* background-color: white; */
    border: 1px solid var(--primary);
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

.report-modal-btns {
    display: flex;
    justify-content: space-around;
}

.report-modal p {
    font-size: clamp(12px,1.5vw,18px);
}

.report-modal button {
    background-color: white;
    /* color: black; */
    padding: 9px 15px;

    /* padding: 16px 15px; */
    /* margin-top: 10px; */
    /* color: white; */
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
    /* background-color: var(--primary); */
}

.delete-modal {
    background-color: white;
    text-align: center;
    max-width: 520px;
    border-radius: 4px;
    box-shadow: 2px 4px 10px 3px rgb(0,0,0,0.3);
    padding: 15px 0;
    width: 95%;

    position: fixed;
    top: 15%;
    left: 50%;
    transform: scale(0) translateX(-50%);
}

.delete-modal div {
    display: flex;
    justify-content: space-around;
    width: 230px;
    margin: 0 auto;
}

.delete-modal button {
    background-color: white;
    padding: 9px 15px;
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
}

@media (max-width: 650px) {
    .main-post {
        flex-direction: column;
        align-items: center;
    }

    .main-post img {
        max-width: 250px;
    }
}