
.big-hero {
    background: linear-gradient(rgb(255, 0, 0, 0) 92%, white);

}

.hero {
    height: 550px;
    background: url(../Images/topics/bg16.png);
    background-position: 95%;
    background-size: 40vw 95%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 5vw;
    animation: bgchange 45s ease-in-out infinite;
    flex-direction: column;
}


@keyframes bgchange {
    0% {
        background-image: url(../Images/topics/bg16.png);
    }

    14% {
        background-image: url(./assets/bg17.png);
    }

    28% {
        background-image: url(./assets/bg18.png);
    }

    42% {
        background-image: url(./assets/bg19.png);
    }

    56% {
        background-image: url(./assets/bg20.png);
    }

    70% {
        background-image: url(./assets/bg23.png);
    }

    84% {
        background-image: url(./assets/bg22.png);
    }
}

.hero h1 {
    font-size: clamp(30px, 7vw, 75px);
    color: var(--primary);
    margin: 20px 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 900;
    width: 60%;
    max-width: 850px;
}

.hero p {
    color: rgb(0, 0, 0, 0.7);
    font-size: clamp(12px, 2.5vw, 25px);
    font-weight: 600;
    width: 60%;
    max-width: 850px;
}

.hero button {
    width: 150px;
    padding: 10px 15px;
    margin-top: 30px;
    color: #1b1c1e;
    font-family: 'Prosto One', cursive;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: .5s;
    cursor: pointer;
    background-color: #fff;
}

.hero button:hover {
    transform: scale(1.1);
    color: white;
    background-color: var(--primary);
    border: 1px solid white;
}

.posts-section {

    background: linear-gradient(white 5%, rgb(255, 0, 0, 0));
    min-height: 90vh;

}


.Latest {
    padding: 5vw;
    width: 60%;
}

.Latest h1,
.xplore h1 {
    color: var(--primary);
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--h1-font);
    font-weight: 800;
}

.posts {
    margin: 20px 0;
}

.post {
    text-align: justify;
    box-shadow: 4px 4px 11px 2px rgb(0, 0, 0, 0.3);
    padding: 6px 9px;
    margin-bottom: 35px;
    border-radius: 4px;
    cursor: pointer;
}


.post-details {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    object-fit: cover;

}

.cat-act {
    display: flex;
    justify-content: space-between;
}

.cat-act button {
    border: none;
    padding: 5px 10px;
    font-family: 'Righteous', cursive;
    border-radius: 2px;
    background-color: grey;
    color: white;
}

.post-actions {
    display: flex;
    justify-content: right;
    gap: 25px;
    cursor: pointer;
    transition: 0s !important;
}

.post-actions p {
    transition: 0s !important;
}


.more {

    padding: 10px 15px;
    margin-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: .5s;
    cursor: pointer;
    background-color: var(--primary);
}

.more:hover {
    transform: scale(1.02);
    color: var(--my-black);
    background-color: white;
    border: 1px solid var(--primary);
}


.xplore {
    position: absolute;
    top: 610px;
    right: 5vw;
    width: 35%;
    transition: 0s;
    padding: 5vw 0px;
}

.xplore h2 {
    margin: 20px 0;
    font-size: var(--h3-font);
}


.xplore-cats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.xplore button {
    border: 1px solid var(--primary);
    padding: 7px 14px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 2px;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
}

.xplore button:hover {
    transform: scale(1.09);
    border: 1px solid transparent;
    background-color: var(--primary);
    color: white;

}

@media (max-width: 1050px) {
    .xplore-cats {
        gap: 10px;
    }

    .xplore button {
        padding: 3px 6px;
    }
}

@media (max-width: 850px) {
    .hero {
        height: 500px;
        background-size: 60vw 95%;
    }
}

@media (max-width: 700px) {
    .Latest {
        width: 100%;
        margin: 0 auto;
    }

    .xplore {
        position: static !important;
        width: 100%;
        padding: 30px 5vw;
    }

    .post {
        box-shadow: 2px 2px 11px 2px rgb(0, 0, 0, 0.3);
    }
}

@media (max-width: 600px) {
    .hero {
        height: 480px;
        background-size: 80vw 98%;
    }

    .hero1 {
        background-color: rgb(255, 255, 255, 0.5);
        padding: 30px 10px;
        border-radius: 7px;
        width: 70%;
    }

    .hero p,
    .hero h1 {
        width: 100%;
        max-width: none;
    }

    .post,
    .more {
        font-size: smaller;
    }
}

@media (max-width: 425px) {
    .hero {
        height: 430px;
        background-size: contain;
        background-position: center bottom;
        justify-content: flex-start;
    }

    .hero1 {
        background-color: rgb(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: 7px;
        width: 100%;
    }



    .hero button {
        width: 70%;
        margin: 20px 15%;
    }

    .author {
        width: 100%;
        margin-bottom: 9px;
    }

    .post-details {
        flex-wrap: wrap;
    }
}