.Post {
    padding: 5vw;
    /* background: rgb(74, 4, 4, 0.8); */
    background: url(../Home/assets/giphy.gif), rgb(74, 4, 4, 0.8);

}

.Post h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
   padding: 15px 0;
}

.Post form {
/* border: 2px solid green; */
width: 98%;
max-width: 650px;
margin: 10px auto;
padding: 20px 5.5vw;
border-radius: 4px;
background-color: rgb(0, 0, 0, 0.95);
}

.title {
    width: 100%;
    padding: 20px;
    margin: 10px auto;
    color: white;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-size: clamp(19px, 2.3vw, 26px);
    font-weight: 700;
}

.Post select {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    color: white;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Nunito', sans-serif;

}

.Post option {
    color: black;
}

.Post textarea {
    width: 100%;
    padding: 20px;
    margin: 5px auto;
    color: white;
    background: none;
    outline: none;
    border: none;
    /* border-bottom: 2px solid white; */
    font-family: 'Nunito', sans-serif;

    font-size: 16px;
}

.Post input[type="file"] {
    display: none;
}

.Post label {
    background-color: white;
    padding: 2px 8px;
    border-radius: 1px 1px 0 0;
    cursor: pointer;
}

.Post hr {
    border-bottom: 2px solid white;
}


.Post form button {
    padding: 8px 12px;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: white;
    color: var(--primary);
    border-radius: 4px;
    cursor: pointer;
}

.Post form button:hover {
 transform: scale(1.1);
 background-color: var(--primary);
 color: white;
}

