
.Categx .hero {
    height: 250px;
    background-position: bottom right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    padding: 5vw;

    animation:  none;
    flex-direction: column;
}

.Categx .xplore {
    position: absolute;
    top: 318px;
}

.pUsers {
    border: none !important;
    border-radius: 120px !important;
    width: 100%;
    height: 40px;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
    text-align: left;
}


.Categx .xplore img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-right: 18px;
    vertical-align: -4px;
    border-radius: 50%;
}

@media (max-width: 700px) {


    .Categx .Latest {
        max-height: 90vh;
        overflow-y: scroll;
    }
}